* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Inter', sans-serif;
}

body {
  background:#f6fffc;
  color:#111;
}

/* Navbar */
.navbar {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
  backdrop-filter: blur(12px);
  background: rgba(255,255,255,0.75);
  transition: background 0.3s ease, box-shadow 0.3s ease;
  position:sticky;
  top:0;
  z-index:99;
}
.navbar.scrolled {
  background: rgba(255,255,255,0.55);
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}
.logo {
    background-image: url(res/logo_header.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 50px;
}

.navbar nav a {
  margin:0 15px;
  text-decoration:none;
  color:#333;
  font-weight:500;
}

.login-btn {
  background:#00b894;
  border:none;
  color:#fff;
  padding:8px 18px;
  border-radius:8px;
  cursor:pointer;
}
.login-btn a{
  text-decoration: none;
  color: white;
  font-weight: 1000;
}
body.dark {
  background:#0b0f14;
  color:#e5e5e5;
}

body.dark .navbar {
  background:rgba(15,20,25,0.7);
}
body.dark .hero {
  background-image: url(res/dark_hero_bg.png);
  color: white;
  background-position: cover;
}
body.dark .card,
body.dark footer,
body.dark .why
{
  background:#111827;
  color:white;
}

body.dark p,
body.dark a {
  color:#cbd5e1;
}

body.dark .secondary {
  background:#111;
  color:white;
  border:1px solid #333;
}

#themeToggle{
  background:none;
  border:none;
  font-size:18px;
  cursor:pointer;
}

/* Hero */
.hero {
  min-height:70vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background-image: url(res/hero-bg.png);
  background-size: cover;
  text-align:center;
}

.hero-content {
  max-width:750px;
}

.hero h1 {
  font-size:48px;
  font-weight:800;
}

.hero span {
  color:#00b894;
}

.hero p {
  margin-top:15px;
  color:#555;
}

.hero-buttons {
  margin-top:30px;
}

.primary, .secondary {
  padding:12px 22px;
  border-radius:10px;
  border:none;
  margin:5px;
  cursor:pointer;
  font-weight:600;
}

.primary {
  background:#00b894;
  color:white;
}

.secondary {
  background:white;
  border:1px solid #ddd;
}

/* Why */
.why {
  padding:80px 60px;
  text-align:center;
}

.why h2 {
  font-size:32px;
}

.subtitle {
  margin-top:10px;
  color:#666;
}

.cards {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
  margin-top:50px;
}

.card {
  background:white;
  padding:25px;
  border-radius:16px;
  box-shadow:0 10px 30px rgba(0,0,0,0.05);
  text-align:left;
  transition:0.4s;
}

.card:hover {
  transform:translateY(-8px);
}

.card img {
  width:100%;
  border-radius:12px;
}

.card h3 {
  margin-top:15px;
}

.card p {
  margin-top:8px;
  color:#666;
}

/* CTA */
.cta {
  background:#00b894;
  color:white;
  padding:70px 30px;
  text-align:center;
}

.cta h2 {
  font-size:32px;
}

.cta p {
  margin:15px 0;
}

.cta button {
  color: #000000;
  padding:12px 24px;
  border:none;
  border-radius:10px;
  font-weight:600;
  cursor:pointer;
}
.cta-link{
  text-decoration: none;
}
/* Footer */
footer {
  background:#f4fffb;
  padding:50px;
}

.footer-grid {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:30px;
}
.footer_logo{
    background-image: url(res/logo_nobg.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}
footer h4 {
  margin-bottom:10px;
}

footer a {
  display:block;
  margin:5px 0;
  color:#555;
  cursor:pointer;
  text-decoration: none;
}

.socials a {
  margin-right:10px;
  font-weight:bold;
}

.copyright {
  margin-top:40px;
  text-align:center;
  color:#777;
}
.blog-hero {
  min-height:60vh;
  background-image: url(res/blog-hero.png);
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  color:white;
}

.blog-hero-content h1 {
  font-size:48px;
  font-weight:800;
}

.blog-hero-content p {
  margin:10px 0 25px;
  color:#cbd5e1;
}

.search-box input {
  padding:14px 18px;
  width:320px;
  max-width:90%;
  border-radius:10px;
  border:none;
  outline:none;
  font-size:15px;
  transition:0.3s;
}

.search-box input:focus {
  box-shadow:0 0 0 2px #00b894;
}

.blogs-section {
  padding:80px 60px;
}

.blogs-grid {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:30px;
}

.blog-card {
  background:#111827;
  border-radius:16px;
  overflow:hidden;
  box-shadow:0 10px 30px rgba(0,0,0,0.3);
  transition:0.4s;
  cursor:pointer;
}

.blog-card:hover {
  transform:translateY(-10px) scale(1.02);
}

.blog-card img {
  width:100%;
  height:180px;
  object-fit:cover;
}

.blog-card h3 {
  padding:15px 15px 0;
  color:white;
}

.blog-card p {
  padding:0 15px 20px;
  color:#cbd5e1;
  font-size:14px;
}
.contact-page {
  padding:90px 60px;
  background:#0b1220;
  min-height:100vh;
}

.contact-grid {
  display:grid;
  grid-template-columns:1fr 1.3fr;
  gap:40px;
}

/* LEFT */
.contact-left {
  display:flex;
  flex-direction:column;
  gap:25px;
}

.contact-panel {
  background:#111827;
  padding:25px;
  border-radius:16px;
  box-shadow:0 10px 30px rgba(0,0,0,0.35);
  color:white;
  transition:0.4s;
}

.contact-panel h3 {
  margin-bottom:10px;
  color:#00b894;
}

/* RIGHT FORM */
.contact-form-panel {
  background:#111827;
  padding:35px;
  border-radius:18px;
  box-shadow:0 10px 30px rgba(0,0,0,0.35);
  color:white;
}

.contact-form-panel h2 {
  font-size:28px;
}

.contact-form-panel p {
  color:#cbd5e1;
  margin-bottom:25px;
}

.form-group {
  margin-bottom:18px;
}

.form-group input,
.form-group textarea {
  width:100%;
  padding:14px 16px;
  border-radius:10px;
  border:none;
  outline:none;
  background:#0b1220;
  color:white;
  font-size:14px;
}

.form-group input:focus,
.form-group textarea:focus {
  box-shadow:0 0 0 2px #00b894;
}

.contact-form-panel button {
  width:100%;
  padding:14px;
  border:none;
  border-radius:10px;
  background:#00b894;
  color:white;
  font-weight:600;
  font-size:15px;
  cursor:pointer;
  transition:0.3s;
}

.contact-form-panel button:hover {
  transform:translateY(-2px);
  box-shadow:0 10px 25px rgba(0,184,148,0.4);
}
/* hover effects */
.navbar nav a:hover {
  color:#00b894;
}
.login-btn:hover {
  transform:translateY(-2px);
  box-shadow:0 8px 20px rgba(0,184,148,0.4);
}
.secondary:hover {
  background:#00b894;
  color:#000;
}
.card:hover {
  transform:translateY(-10px) scale(1.02);
  box-shadow:0 20px 50px rgba(0,184,148,0.25);
}
.cta button:hover {
  transform:scale(1.05);
}
footer a:hover {
  color:#00b894;
}
/* Animations */
.reveal {
  opacity:0;
  transform:translateY(40px);
  transition:1s;
}

.reveal.active {
  opacity:1;
  transform:translateY(0);
}
.about-hero {
  min-height:55vh;
  background-image: url(res/about-hero.png);
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  color:white;
}

.about-hero h1 {
  font-size:48px;
  font-weight:800;
}

.about-hero p {
  margin-top:10px;
  color:#cbd5e1;
}

/* SNAP */
.snap-container {
  height:100vh;
  overflow-y:scroll;
  scroll-snap-type:y mandatory;
}

.snap-panel {
  height:100vh;
  scroll-snap-align:start;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#0b1220;
  padding:40px;
}

.panel-content {
  max-width:700px;
  text-align:center;
}

.panel-content h2 {
  font-size:42px;
  margin-bottom:15px;
  color:#00b894;
}

.panel-content p {
  font-size:18px;
  color:#cbd5e1;
  line-height:1.7;
}
.platform-panel {
  background:#0b1220;
}

.panel-sub {
  margin:10px 0 40px;
  color:#cbd5e1;
  font-size:16px;
}

.platform-grid {
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:25px;
  margin-top:30px;
}

.platform-card {
  background:#111827;
  padding:25px;
  border-radius:16px;
  box-shadow:0 10px 30px rgba(0,0,0,0.4);
  transition:0.4s;
}

.platform-card h4 {
  color:#00b894;
  margin-bottom:10px;
}

.platform-card p {
  color:#cbd5e1;
  font-size:14px;
  line-height:1.6;
}

.platform-card:hover {
  transform:translateY(-8px);
}
/* Responsive */
@media(max-width:900px){
  .contact-grid {
    grid-template-columns:1fr;
  }
  .footer_logo{
    display: none;
  }
}
@media(max-width:768px){
  .navbar {
    padding:20px;
  }

  .hero h1 {
    font-size:36px;
  }
  .panel-content h2{
    font-size:30px;
  }

  .panel-content p{
    font-size:15px;
  }

  .about-hero h1{
    font-size:34px;
  }
  .footer_logo{
    display: none;
  }
  .platform-grid {
    grid-template-columns:repeat(2,1fr);
  }
}
@media(max-width:600px){
  .platform-grid {
    grid-template-columns:1fr;
  }
}
